*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alkatra';
    letter-spacing: 1px;
}

.top{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(me2.png);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 5vh;
    letter-spacing: 3px;
}

.logo span{
    color: aquamarine;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 0vh 3vh;
    margin: 0 2vh;
    position: relative;
    font-size: 2vh;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul li a::after{
    content: '';
    height: 0.2vh;
    width: 0%;
    position: absolute;
    background: aquamarine;
    left: 0;
    bottom: 0;
}

nav ul li a:hover{
    color: aquamarine;
    transition: 0.4s;
    cursor: pointer;
}

nav ul li a:hover::after{
    width: 100%;
    transition: 0.8s;
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 1vh 0 1vh;
    font-size: 8vh;
    letter-spacing: 2px;
}

h1 span{
    color: aquamarine;
}

h3{
    color: white;
    font-size: 3vh;
    letter-spacing: 1px;
}

h4{
    color: beige;
    letter-spacing: 1px;
    font-size: 2vh;
}

.about{
    background-color: black;
    width: 100%;
    padding: 10vh 0;
}

.main img{
    height: auto;
    width: 25%;
    padding: 0 5vh;
}

.about-text{
    width: 75%;
}

.main{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 7vh;
    margin-bottom: 1vh;
}

.about-text h5{
    color: aquamarine;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.about-text p{
    color: beige;
    line-height: 3vh;
    font-size: 2vh;
    margin-bottom: 3vh;
    padding-right: 10%;
}

.about-text p span{
    color: aquamarine;
}

.experience{
    background-color: black;
    width: 100%;
    padding: 8vh 0;
}

.experience .title h2{
    color: white;
    font-size: 8vh;
    width: 100%;
    margin: 2vh auto;
    text-align: center;
}

.experience .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
}

.experience .card{
    height: 35vh;
    width: 35vh;
    padding: 2vh 2vh;
    background-color: #191919;
    border-radius: 20px;
    margin: 1vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    float: left;
}

.experience .card i{
    font-size: 5vh;
    display: block;
    text-align: center;
    margin: 1vh;
    color: aquamarine;
}

h5{
    color: white;
    font-size: 3vh;
    margin-bottom: 1vh;
}

.para p{
    color: beige;
    font-size: 2vh;
    line-height: 2vh;
    margin-bottom: 2vh;
}

/*achtergrond*/
::-webkit-scrollbar{
    background-color: black;
    width: 3px;
}

/*knoppen*/
::-webkit-scrollbar-button{
    display: none;
}

/*scrolly*/
::-webkit-scrollbar-thumb{
    background-color: aquamarine;
}

.education{
    background-color: black;
    width: 100%;
    padding: 8vh 0;
}

.education .title h2{
    color: white;
    font-size: 8vh;
    width: 100%;
    margin: 2vh auto;
    text-align: center;
}

.education .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
}

.education .card{
    height: 35vh;
    width: 35vh;
    padding: 2vh 2vh;
    background-color: #191919;
    border-radius: 20px;
    margin: 1vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.education .card i{
    font-size: 5vh;
    display: block;
    text-align: center;
    margin: 1vh;
    color: aquamarine;
}

.contact{
    background-color: black;
    width: 100%;
    padding: 8vh 0;
}

.contact .title h3{
    color: beige;
    font-size: 3vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.contact .title h2{
    color: white;
    font-size: 8vh;
    width: 100%;
    margin: 1vh auto;
    text-align: center;
}

.contact .box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    width: 100%;
}

.contact .card{
    height: 35vh;
    width: 35vh;
    padding: 2vh 2vh;
    background-color: #191919;
    border-radius: 20px;
    margin: 1vh;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.contact .card i{
    font-size: 5vh;
    display: block;
    text-align: center;
    margin: 1vh;
    color: aquamarine;
}

.contact .card i:hover{
    color: beige;
    transition: 0.7s;
}

footer{
    position: absolute;
    height: 12vh;
    width: 100%;
    background-color: black;
}

footer .end p{
    color: aquamarine;
    width: 100%;
    text-align: center;
    font-size: 2vh;
}

footer .end h5{
    color: beige;
    font-size: 3vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}